<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="icon" href="./public/APP_PROYECTO_FINAL/img/LOGO_APP.png" type="LOGO_APP.png" > -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actlineas.js"></script>
    <script src="./js/eliminarcli.js"></script>
    <link rel="stylesheet" href="/css/lineas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <title> LINEAS </title>

<body>
	<!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Web <span>Bigner</span></div>
                <div class="sidebar-btn">
                   
                </div>
                <ul>
                    <li><a href="/vistaempleado"><i class="fas fa-search"></i></a></li>
                    <li><a href="/vistacliente"><i class="fas fa-bell"></i></a></li>
                    <li><a href=""><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
 
        <!--sidebar end-->
        <!--main container start-->
        
    <!--wrapper end-->

    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").click(function(){
            $(".wrapper").toggleClass("collapse");
        });
    });
    </script>

<section class="form-registerr">
    <a></a>
    <form action="/frminsertarlineaaa " method="POST">
        <div><input  id=""   type="text" required   name="codlinea"  class="controls" placeholder="CODIGO LINEA"></div>
        <div><input  id=""   type="text" required   name="nomlinea"  class="controls" placeholder="NOMBRE LINEA"></div>
        <div><input  id=""   type="text" required   name="montomaxicredito"  class="controls" placeholder=" MONTO MAXIMO"></div>
        <div><input  id=""   type="text" required   name="plazomaxcred"  class="controls" placeholder="PLAZO MAXIMO"></div>

     
        <td><input  type="submit"  value="INGRESAR" name="btnact" id="btnact"   class="botons" class="controls"     ></td>
</form>
</section>
<thead> 
<div id="titulo">
    <section class="form-register">
        <form action="" none="frm" id="frm">
<table id="tabla" >	
        <tr>
        <td> CODIGO LINEA </td>
        <td> NOMBRE LINEA </td>
        <td> MONTO MAXIMO </td>
        <td> PLAZO MAXIMO </td>
        <td> ACTUALIZAR</td>
        <td> ELIMINAR</td>

<tbody>
<% datos.forEach(function(datos) { %>

<tr></tr>
<td><input   type="text"  value="<%=datos.codlinea%>"         id="docli"       class="docli"  ></td>
<td><input   type="text"  value="<%=datos.nomlinea%>"         id="nommclii"       class="nommclii"  ></td>
<td><input   type="text"  value="<%=datos.montomaxicredito%>"         id="vee"       class="vee"  ></td>
<td><input   type="text"  value="<%=datos.plazomaxcred%>"          id="rll"       class="rll"  ></td>





<td><input  type="submit"  value="actualizar" name="btnact" id="btnact"   class="btnact"    class="form-control"  ></td>
<td><input  type="submit"  value="eliminar "  name="btnelit" id="btnelit"   class="btnelit"    class="form-control" ></td>
<%})%> 
</tbody>

</table>
</section>

</head>
</form>    
</body>
</html>
    

