<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="icon" href="./public/APP_PROYECTO_FINAL/img/LOGO_APP.png" type="LOGO_APP.png" > -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actualizar.js"></script>
    <link rel="stylesheet" href="/css/usuarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <title> USUARIOS </title>

<body>
	<!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Web <span>Bigner</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bell"></i></a></li>
                    <li><a href="#"><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <i class="fa-solid fa-money-check-dollar"></i>
                    
                </center>
                <li class="item">
                    <a href="/clientes.ejs" class="menu-btn">
                        <i class="fas fa-desktop"></i><span>Clientes</span>
                    </a>
                </li>
                <li class="item" id="profile">
                    <a href="/creditos" class="menu-btn">
                        <i class="fas fa-user-circle"></i><span>Creditos <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-image"></i><span>Picture</span></a>
                        <a href="#"><i class="fas fa-address-card"></i><span>Info</span></a>
                    </div>
                </li>
                <li class="item" id="messages">
                    <a href="/lineas" class="menu-btn">
                        <i class="fas fa-envelope"></i><span>lineas de credito <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
                        <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
                        <a href="#"><i class="fas fa-exclamation-circle"></i><span>Spam</span></a>
                    </div>
                </li>
                <li class="item" id="settings">
                    <a href="#settings" class="menu-btn">
                        <i class="fas fa-cog"></i><span>Settings <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
                        <a href="#"><i class="fas fa-language"></i><span>Language</span></a>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn">
                        <i class="fas fa-info-circle"></i><span>About</span>
                    </a>
                </li>
            </div>
        </div>
        <!--sidebar end-->
        <!--main container start-->
        
    <!--wrapper end-->

    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").click(function(){
            $(".wrapper").toggleClass("collapse");
        });
    });
    </script>
    <section class="form-registerr">
        <a></a>
        <form action="/frminsertar " method="POST">
            <div><input  id=""   type="text" required   name="doccli"  class="controls" placeholder="DOCUMENTO"></div>
            <div><input  id=""   type="text" required   name="nomusu"  class="controls" placeholder="NOMBRE"></div>
            <div><input  id=""   type="text" required   name="clave"  class="controls" placeholder="CLAVE"></div>
            <div><input  id=""   type="text" required   name="rol"  class="controls" placeholder="ROL"></div>
            <div><input  id=""   type="text" required   name="estado"  class="controls" placeholder="ESTADO"></div>
            <div><input  id=""   type="text" required   name="imagen"  class="controls" placeholder="IMAGEN"></div>
            <td><input  type="submit"  value="INGRESAR" name="btnact" id="btnact"   class="botons" class="controls"     ></td>
</form>
</section>
    <thead> 
    <div id="titulo">
        <section class="form-register">
            <form action="" none="frm" id="frm">
    <table id="tabla" >	
            <tr>
            <td> DOCUMENTO </td>
            <td> NOMBRE  </td>
            <td> CLAVE </td>
            <td> ROL</td>
            <td> ESTADO</td>
            <td> IMAGEN</td>
            <td> ACTUALIZAR</td>
            <td> ELIMINAR</td>
    
<tbody>
    <% datos.forEach(function(datos) { %>

<tr></tr>
    
    <td><input   type="text"  value="<%=datos.nomusu%>"         id="nomm"       class="nomm"  ></td>
    <td><input   type="text"  value="<%=datos.clave%>"         id="ve"       class="ve"  ></td>
    

    <td><input  type="submit"  value="actualizar" name="btnact" id="btnact"   class="botonss"    class="form-control"  ></td>
    <td><input  type="submit"  value="eliminar "  name="btnelit" id="btnelit"   class="botonss"    class="form-control" ></td>
<%})%> 
</tbody>

</table>
</section>

</head>
</form>    
</body>
</html>